extends ../shared/layout
block main-content
  .container
    .row
      h1 Categories
      .row
        form.col-md-3(method="post" action="/categories/store" role="form")
          .form-group
            label.control-label(for="name") Category name
            input.form-control(type="text" name="name" id="name" value=selected ? selected : '' required)
          if (!selected)
            button.btn.btn-default(type="submit") Add
          else
            button.btn.btn-default(type="submit") Update
      if (body)
        .row.col-md-3
          .list-group
          h2.list-group-heading
            each category in body
              a.list-group-item(href='/categories/update?id='+category.name) #{category.name}