extends ../shared/layout
block main-content
  h1 Manage gategories
  div.col-md-7
    div.panel.panel-default
      div.panel-heading
        h3.panel-title Add category
      div.pabel-body
        form.form-inline(method="post" action="/categories/add" role="form")
          div.form-group
            label.control-label(for="name") Category name
            input.form-control(type="text" name="name" id="name")
          if (categories)
            div.list-group
              each category in categories
                a.list-group-item(href='/categories/update?id='+category.name)
          button.btn.btn-default(type="submit") Add