extends ../shared/layout
block main-content
  h1 Update user data
  form.col-xs-3(method="post" action="/users/update")
    div.form-group
      label(for="username") Username
      input.form-control(type="text" name="username" id="username" value=body ? body.username : '')
    div.form-group
      label(for="password") Password
      input.form-control(type="password" name="password" id="password")
    div.form-group
      label(for="confirm-password") Confirm Password
      input.form-control(type="password" name="confirmPassword" id="confirm-password")
    div.form-group
      label(for="first-name") First Name
      input.form-control(type="text" name="firstName" id="first-name" value=body ? body.firstName : '')
    div.form-group
      label(for="last-name") Last Name
      input.form-control(type="text" name="lastName" id="last-name" value=body ? body.lastName : '')
    button.btn.btn-default(type="submit") Update