extends ../shared/layout
block main-content
  div.jumbotron
    h1.text-center 404
    h2.text-center Error occured! - File not Found
    br
    br
    div.container-fluid
      div.col-sm-12.text-center
        a.btn.btn-default.btn-lg(href="/" role="button") Return to Home Page