doctype
html
  head
    title Hello!
    link(rel="stylesheet", href="/css/site.css")
  body
    .container
      ul.menu
        li
          a(href="/") Home
        li
          a(href="/about") About
      block main-content