extends ../shared/layout
block main-content
  h1 Most Popular Movies
  div.movie-container.row
    if (movies)
      each movie in movies
        div.col-xs-6.col-md-3
          article.thumbnail
            header.caption
              a.thumbnail(href= '/movie/details?id='+movie.title)
                img(src= movie.image[0].path, alt= movie.image[0].alt title= movie.image[0].title)
              p
                a(href= '/movie/details?id='+movie.title) #{movie.title}
              p= movie.year
              p
                a(role="button")
                  span.glyphicon.glyphicon-star(aria-hidden="true")
                  | #{" "+movie.rating}