extends ../shared/layout
block main-content
  h1 Hello from Express!
  div.movie-container.row
    if (movies)
      each movie in movies
        article.col-xs-6.col-md-3
          header
            let movieDetailsLink = '/movie/details?id=' + movie._id
            a.thumbnail(href= movieDetailsLink)
              img(src= movie.image.path, alt= movie.image.alt title= movie.image.title)
            div.caption
              a(href= movieDetailsLink) #{movie.name}
          div
            p= movie.year