extends ../shared/layout
block main-content
  h1 Hello from Express!
  div.movie-container
    if (movieList)
      each movie in movieList
        article
          header
            let movieDetailsLink = '/movie/details?id=' + movie._id
            a(href= movieDetailsLink)
              img(src= movie.image.path, alt= movie.image.alt title= movie.image.title)
            h6
              a(href= movieDetailsLink) #{movie.name}
          div
            p= movie.year
            div